[MASTER]

# Disable the following items that are common pylint complaints I don't care about
disable=unused-import,
        line-too-long,
        superfluous-parens,
        wrong-import-position,
        too-few-public-methods,
        useless-object-inheritance,
        logging-format-interpolation,
